.info-tab-wrap{
    margin-bottom: 100px;
}
.tab-input-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 10px;
        .input-wrap{
            width: auto;
            margin:10px;
            display: flex;
            flex-direction: column;
                label{
                    font-weight: bold;
                    margin-bottom: 10px;
                }
        }
        .opt{
            width: 200px;
        }
}
.add-btn-wrap{
    display: flex;
    justify-content: flex-end;
    button{
        align-self: center;
        background-color: #78A7DA;
            border-radius: 10px;
            color: #fff;
            border:1px solid #78A7DA;
            transition:0.3s ease-in-out;
            font-size: 20px;
            padding: 5px 20px;
                &:hover{
                    background-color: #fff;
                    color: #78A7DA;
                    cursor: pointer;
                }
    }
}
.btn-submit-wrap{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
        button{
        background-color: #78A7DA;
            border-radius: 10px;
            margin-left: 20px;
            color: #fff;
            border:1px solid #78A7DA;
            transition:0.3s ease-in-out;
            font-size: 20px;
            padding: 5px 20px;
                &:hover{
                    background-color: #fff;
                    color: #78A7DA;
                    cursor: pointer;
                }
        }
}
.notes-wraper{
    margin-bottom: 20px;
    background-color: #efefef;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    .inner-notes-wrap{
        width: 300px;
        display: flex;
        flex-direction: column;
            label{
                font-weight: bold;
            }
    }
    .action-wrap{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .notes{
        border-bottom: 1px solid #cfcfcf;
        margin-bottom: 10px;
        padding-bottom: 5px;
    }
    .user{
        display: flex;
        justify-content: flex-start;
        h3{
            font-size: 14px;
        }
        p{
            font-size: 14px;
        }
    
    }
}
.inp{
    font-family: 'Poppins';
    font-size: 16px;
}
.edit{
    color: #78A7DA;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: underline;
    &:hover{
        cursor: pointer;
    }
}
.delete{
    color: red;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: underline;
    &:hover{
        cursor: pointer;
    }
}
.tab-heading{
    font-size:32px;
    margin-top: 10px;
}
.custom-date{
    padding: 10px;
    font-size: 16px;
}
.cus-time{
    .MuiInputBase-root{
        padding: 10px;
            input{
                padding: 0px;
            }
    }
}
.cus-text-inp{
    padding: 10px;
    font-size: 16px;
}