
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
body{
    font-family: 'Poppins', sans-serif !important;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}
h1,h2,h3,h4,h5,h6,p,a,li{
    margin: 0px;
    padding: 0px;
}
button{
    font-family: 'Poppins', sans-serif !important;
}